html, body {
     background-color: #fff6ef;
     color: #4b352a;
     margin:0; 
     font-family: Arial, Helvetica, sans-serif;
}

header {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     list-style-type: none;
     align-items: center;
     gap: 24px;
     padding: 20px 6%;
     background-color: #ffffe7;
}

header h1 {
     margin: 0;
     font-size: 1.7rem;
}

.hero{
     background-color: aliceblue;
}